---
import Layouts from '../../layouts/Layouts.astro';
---

<Layouts>
  <h2>Tentang Saya</h2>
  <p>
    Halo! Selamat datang di blog saya. Perkenalkan, nama saya Dairewandi. Saya adalah seorang penulis yang memiliki
    ketertarikan besar pada dunia teknologi, kesehatan, pendidikan, lifestyle, dan lainnya.
  </p>

  <p>
    Blog ini saya buat sebagai wadah untuk berbagi pengetahuan, pengalaman, dan inspirasi seputar dunia teknologi,
    kesehatan, pendidikan, lifestyle, dan lainnya. Saya percaya bahwa setiap cerita dan informasi yang dibagikan dapat
    memberikan dampak positif bagi pembaca.
  </p>

  <p>
    Selain menulis, saya juga menikmati membaca, memasak, fotografi, atau menjelajahi tempat-tempat baru. Saya selalu
    bersemangat untuk belajar hal-hal baru dan berbagi dengan orang lain.
  </p>

  <p>
    Melalui blog ini, saya berharap dapat terhubung dengan lebih banyak orang, bertukar ide, dan tumbuh bersama. Jangan
    ragu untuk meninggalkan komentar atau menghubungi saya melalui <a href='https://www.instagram.com/dai.rewahandi/'
      >Instagram</a
    > atau <a href='mailto:niktodaire@gmail.com'>email saya</a> jika Anda memiliki pertanyaan, saran, atau sekadar ingin
    berdiskusi.
  </p>

  <p>Terima kasih telah berkunjung dan semoga Anda menemukan sesuatu yang bermanfaat di sini!</p>

  <p>Salam hangat,</p>

  <p>Dairewandi</p>
</Layouts>
