---
import { getCollection } from 'astro:content';
import Layouts from '../../layouts/Layouts.astro';
import type { PaginateFunction } from 'astro';

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const post = (await getCollection('blog')).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf()).filter((i) => i.data.published);
  return paginate(post, { pageSize: 1 });
}

const { page } = Astro.props;
---

<Layouts prev={page.url.prev} next={page.url.next}>
  <ul>
    {
      page.data.map((i) => (
        <li>
          <a href={'/blog/'+i.id}>{i.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layouts>
