---
import Layouts from '../../layouts/Layouts.astro';
---

<Layouts>
  <main class='w-full flex flex-col items-center justify-center'>
    <form method='POST' id='form' class='flex flex-col max-w-64'>
      <input type='hidden' name='access_key' value='81a46ea7-6741-4a0d-bfdb-b6b248ea5fd1' />

      <input type='text' name='name' required placeholder='Nama' />
      <input type='email' name='email' required placeholder='Email' />
      <textarea name='message' required placeholder='Pesan'></textarea>
      <button type='submit' class='bg-indigo-400 py-2 px-4 rounded-md text-white'>Kirim</button>
      <div id='result'></div>
    </form>
  </main>

  <style>
    input,
    textarea {
      @apply py-2 px-4 border-2 border-indigo-400 rounded-md mb-2 resize-none;
    }
    main {
      min-height: calc(100vh - 49px - 26px - 16px);
    }
  </style>

  <script is:inline>
    const form = document.getElementById('form');
    const result = document.getElementById('result');

    form.addEventListener('submit', function (e) {
      const formData = new FormData(form);
      e.preventDefault();

      const object = Object.fromEntries(formData);
      const json = JSON.stringify(object);

      result.innerHTML = 'Tunggu sebentar...';

      fetch('https://api.web3forms.com/submit', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json',
        },
        body: json,
      })
        .then(async (response) => {
          let json = await response.json();
          if (response.status == 200) {
            result.innerHTML = json.message;
          } else {
            console.log(response);
            result.innerHTML = json.message;
          }
        })
        .catch((error) => {
          console.log(error);
          result.innerHTML = 'Ada sesuatu yang salah!';
        })
        .then(function () {
          form.reset();
          setTimeout(() => {
            result.style.display = 'none';
          }, 3000);
        });
    });
  </script>
</Layouts>
