---
import Layouts from "../../layouts/Layouts.astro";
---

<Layouts>
<h2>Hak Cipta</h2>

<p>Semua konten yang terdapat di blog ini, tidak terbatas pada teks, gambar, grafik, video, dan logo, merupakan hak cipta dari daily.</p>

<p>Anda diizinkan untuk:</p>

<ul>
  <li>Membagikan konten dari blog ini dengan mencantumkan sumber yang jelas (link kembali ke artikel asli).</li>
  <li>Menggunakan konten untuk keperluan pribadi atau non-komersial, selama tidak mengubah atau menghapus atribusi penulis.</li>
</ul>

<p>Anda tidak diizinkan untuk:</p>

<ul>
  <li>Menyalin, menggandakan, atau memublikasikan ulang konten secara keseluruhan tanpa izin tertulis dari pemilik blog.</li>
  <li>Menggunakan konten untuk keperluan komersial tanpa persetujuan resmi.</li>
  <li>Melakukan modifikasi atau distribusi konten yang melanggar hak cipta.</li>
</ul>

<p>Jika Anda ingin menggunakan konten dari blog ini untuk keperluan selain yang telah disebutkan di atas, silakan hubungi saya melalui <a href="mailto:niktodaire@gmail.com">alamat email</a> atau <a href="/kontak">formulir kontak</a> yang tersedia. Saya akan dengan senang hati mempertimbangkan permintaan Anda.</p>

<p>Terima kasih telah menghormati hak cipta dan kerja keras yang telah dilakukan untuk menyajikan konten berkualitas di blog ini.</p>

<p>&copy; 2022 Dairewandi. All Rights Reserved.</p>
</Layouts>