---
const { prev, next } = Astro.props;

const isPrev = prev ? true : false;
const isNext = next ? true : false;
---

<header class="">
  <nav class="flex justify-between items-center">
    <ul class="flex gap-3 m-0 items-baseline p-0">
      <li><a class="font-bold text-2xl" href='/'>Daily</a></li>
      <li><a href='/blog'>Blog</a></li>
    </ul>
    <div class='pagiante'>
      <a href={prev} style=`display: ${isPrev ? 'flex' : 'none'}` class="bg-gray-400/20 rounded-md w-6 h-6  items-center justify-center">←</a>
      <a href={next} style=`display: ${isNext ? 'flex' : 'none'}` class="bg-gray-400/20  rounded-md w-6 h-6  items-center justify-center">→</a>
    </div>
  </nav>
</header>

<style>
  li {
    @apply list-none p-0
  }
</style>