---
import { socialShare } from '../lib/utils';

const { titleShare, urlShare } = Astro.props;
---

<div data-share-box class='fixed bottom-10 right-4 hidden'>
  <ul>
    {
      socialShare.map((i) => (
        <li
          data-share-btn-icon
          data-name={i.name}
          class='list-none bg-indigo-100/40 backdrop-blur-sm px-2 py-1 rounded-md cursor-pointer'>
          <i class={'fab fa-' + i.name} />
        </li>
      ))
    }
  </ul>
</div>
<div class='fixed bottom-4 right-4 bg-indigo-100/40 backdrop-blur-sm px-2 py-1 rounded-md'>
  <button data-share-btn>Share</button>
</div>

<script define:vars={{ titleShare, urlShare }}>
  const btn = document.querySelector('[data-share-btn]');
  if (btn) {
    btn.addEventListener('click', function () {
      const shareBox = document.querySelector('[data-share-box]');
      if (shareBox) {
        shareBox.classList.toggle('hidden');
      }
    });
  }

  const share_btn = document.querySelectorAll('[data-share-btn-icon]');
  if (share_btn) {
    function sharing(sosial, title, url) {
      if (sosial === 'twitter') {
        // new window location
        window.open(
          'https://twitter.com/intent/tweet?url=' + encodeURIComponent(url) + '&text=' + encodeURIComponent(title),
          '_blank',
        );
      } else if (sosial === 'facebook') {
        window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(url), '_blank');
      } else if (sosial === 'linkedin') {
        window.open('https://www.linkedin.com/sharer/sharer.php?u=' + encodeURIComponent(url), '_blank');
      } else if (sosial === 'whatsapp') {
        window.open(
          'https://api.whatsapp.com/send?text=' + encodeURIComponent(title) + ' ' + encodeURIComponent(url),
          '_blank',
        );
      } else if (sosial === 'telegram') {
        window.open(
          'https://t.me/share/url?url=' + encodeURIComponent(url) + '&text=' + encodeURIComponent(title),
          '_blank',
        );
      } else if (sosial === 'reddit') {
        window.open(
          'https://www.reddit.com/submit?url=' + encodeURIComponent(url) + '&title=' + encodeURIComponent(title),
          '_blank',
        );
      } else if (sosial === 'pinterest') {
        window.open(
          'https://pinterest.com/pin/create/button/?url=' +
            encodeURIComponent(url) +
            '&description=' +
            encodeURIComponent(title),
          '_blank',
        );
      }
    }

    share_btn.forEach((i) => {
      i.addEventListener('click', function () {
        const name = i.getAttribute('data-name');
        console.log(name);
        sharing(name, titleShare, window.location.href.toString());
      });
    });
  }
</script>
