---
import { SEO } from 'astro-seo';

import Header from '../components/Header.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <SEO
      title=''
      description=''
      canonical={Astro.url}
      openGraph={{ basic: { title: '', image: '', url: '', type: 'website' } }}
      twitter={{ creator: '@', card: 'summary_large_image', site: '@', title: '' }}
      extend={{ link: [{ rel: 'icon', href: '/favicon.ico' }], meta: [{ name: '', content: '' }] }}
      titleDefault=''
    />

    <title>Document</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
</style>
